body {
	background-color: var(--destacado-r);
}

.contenedor {
	background-color: var(--destacado-r);
	display: grid;
	height: 100vh;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.titular-principal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-nav {
	grid-column: 2/3;
  }

.menu-nav-secundario{
	grid-column: 1/3;
	background-color: var(--principal-r);
	display: flex;
	text-align: center;
    align-items: center;
	justify-content: center;
	color: var(--destacado-a);
	min-height: 70px;
	min-width: 100vw;
	border-radius: 20px;
	border: 10px solid var(--destacado-r);
}

.btn-ingreso-registro-alojamientos {
	margin: 30px;
	color: var(--neutro-b);
}

#map {
	min-height: 700px;
	border-radius: 20px;
	border: 10px solid var(--destacado-r);
}	

section h2 {
	color: var(--destacado-a);
	font-size: 15px;
}

.alojamiento-selected {
	background-color: var(--principal-r);
    display: flex;
	flex-direction: column;
	text-align: center;
    align-items: center;
    justify-content: space-evenly;
	min-height: 450px;
	border-radius: 20px;
	border: 10px solid var(--destacado-r);
}

#bannerPorDefectoSeleccionado {
	border-radius: 50px;
	border: 4px solid var(--destacado-r);
	width: 300px;
	height: 300px;
}

.alojamiento-selected-item {
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: 5px;
	justify-content: center;
	overflow-x: hidden;
    overflow-y: hidden;
}

.alojamiento-selected-item-principal {
	grid-column: 1/2;
}

.alojamiento-selected-item-principal-img {
	border-radius: 50px;
	border: 4px solid var(--destacado-r);
	height: 300px;
	width: 300px;
}

b {
	color: var(--destacado-v);
}

.alojamiento-selected-item-detalle {
	grid-column: 2/3;
	display :flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 5px;
	text-decoration: none;
	color: var(--destacado-a);
	justify-content: center;
	align-items: center;
}

.alojamiento-selected-item-detalle a {
	text-decoration: none;
	color: var(--principal-a);
}

main {
	grid-column: 1/3;
}


.alojamiento-lista {
	border-radius: 20px;
	border: 10px solid var(--destacado-r);
	background-color: var(--principal-r);
	display :flex;
	flex-wrap: wrap;
	gap: 5px;
	justify-content: left;

}

ul {
    list-style-type: none;
}


.alojamiento-lista-item {
	background-color: var(--principal-r);
	width: 300px;
	padding: 10px;
	grid-column: 1/3;
	cursor: pointer
}

.alojamiento-lista-item:hover {
	opacity: 0.75;	
}


.alojamiento-item {
	display: flex;
	gap: 10px;

}

.alojamiento-item-img {
	border-radius: 20px;
	border: 4px solid var(--destacado-r);
	height: 100px;
	width: 100px;
}

.alojamiento-item-detalle {
	display :flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 5px;
	max-width: 200px;
	justify-content: center;
	align-items: center;
}
.alojamiento-item-detalle a {
	text-decoration: none;
	color: var(--principal-a);
}

.alojamiento-item p, .alojamiento-selected-item p {
	text-align: center;
}
	
.footer {
	grid-column: 1/3;
}

@media screen and (max-device-width: 2050px) {
	.alojamiento-selected-item{
		display :flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;	
	}

	.alojamiento-selected-item-principal{
		display :flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;	
	}
}


@media screen and (max-device-width: 650px) {

	.contenedor{
		display: flex;
		flex-direction: column;
	}
	
	.map {
		min-height: 45vh;
	}

	.menu-nav-secundario {
		min-width: 100vw;
		min-height: 150px;
	}

	.alojamiento-selected {
		min-height: 60vh;
		min-width: 100vw;
		padding: 10px;
	}

	.alojamiento-selected-item-principal-img {
		height: 150px;
		width: 150px;
	}
}

	
@media screen and (min-device-width: 2050px) {
	* {
		font-size: large;
	}

	.alojamiento-selected-item-principal-img {
		height: 600px;
		width: 600px;
		}
	
	.alojamiento-lista-item {
		width: 450px;
	}
	
	.alojamiento-item-img {
		height: 200px;
		width: 200px;
		}
}


	
@media screen and (min-device-width: 3100px) {
	* {
		font-size: large;
	}

	.alojamiento-selected-item-principal-img {
		height: 650px;
		width: 650px;
	}

	.alojamiento-lista-item {
		width: 600px;
	}
	
	.alojamiento-item-img {
		height: 300px;
		width: 300px;
	}
}

