
.contenedor {
    background-color: var(--destacado-r);
    display: grid;
    height: 100vh;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 8fr 1fr;
    }

.titular-principal {
  grid-column: 1/2;
}

.menu-nav {
	grid-column: 2/3;
}
 main{
  grid-column: 1/3 ;
  display: flex;
  flex-direction: column;
  align-items: center;
 }
main h1 {
  color: var(--destacado-a);
  text-align: center;
}

main h2 {
  margin: 20px;
  text-align: start;
}

.contenedor-articulo {
  background-color: var(--principal-r);
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 600px;
  justify-content: center;
  margin-bottom: 20px;
  
}
 
  main p {
    text-align: justify;
    width: 250px;
    margin: 20px;
  }

.fotosAtracciones {
  height: 250px;
  width: 250px;
  margin: 20px;
  border-radius: 20px;
}


.footer{
  grid-column: 1/3;
  grid-row: 3/4;
}

  .atracciones-container {
    display: flex;
    width: 90vw;
  }

  
  @media (max-width: 600px) {
    main div {
     flex-wrap: nowrap;
     flex-direction: column;
    }

    main h2 {
      text-align: center;
    }
  }