
.contenedor {
    height: 100vh;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 2fr 8fr 1fr;
	}

.top-container  {
	grid-column: 1/5;
    height: 15vh;
}

.menu-nav-segundo {
	grid-column: 1/5;
	background-color: var(--destacado-r);
    height: 15vh;
	min-height: 5vh;
    display: flex;
	text-align: center;
    align-items: center;
    justify-content: space-evenly;
}

.registro-alojamiento-registrarse-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-nav-section-registrar {
    background-color: var(--principal-a);
    color: var(--destacado-v);
    border-radius: 10px;
	border: 2px solid var(--destacado-v);
    display: flex;
    cursor: pointer    
}


.menu-nav-div-section-gestionar{
    background-color: var(--principal-a);
    color: var(--destacado-v);
	border-radius: 10px;
	border: 2px solid var(--destacado-v);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer
}

.menu-nav-div-form-gestionar {
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    grid-column: 1/5;
	background-color: var(--destacado-r);
    height: 55vh;
    min-height: 270px;
}    

#formularioRegistro {
	background-color: var(--destacado-r);
    display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
    }


label {
    font-size: 13px;
    background-color: var(--destacado-v);
    color: var(--principal-a);
	border-radius: 10px;
	border: 2px solid var(--destacado-v);
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 2px
}

input {
    font-size: 13px;
    background-color: var(--principal-a);
    color: var(--neutro-n);
	border-radius: 10px;
	border: 2px solid var(--destacado-v);
    grid-column: 3/4;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 2px
}


#btnSubmitForm {
    grid-column: 2/3;
    background-color: var(--principal-a);
    color: var(--neutro-n);
	border-radius: 10px;
	border: 2px solid var(--destacado-v);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 30px;
    cursor: pointer;
}

#btnGestionEliminarAlojamiento {
    grid-column: 4/5;
    background-color: var(--principal-r);
    color: var(--neutro-n);
	border-radius: 10px;
	border: 2px solid var(--destacado-v);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 30px;
    cursor: pointer;
}


footer {
	grid-column: 1/5;
    height: 15vh;
    min-height: 55px;
}

input:invalid {
    border: 3px solid var(--error-color);
}

input:valid {
    border: 3px solid var(--ok-color);
}