
.contenedor {
    height: 100vh;
    display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 2fr 8fr 1fr;
	}

.top-container  {
	grid-column: 1/4;
}


.menu-nav {
    grid-column: 4/5;
    min-height: 70px;
  }

  #navIrAlojamientos {
    cursor: pointer;
  }

.menu-nav-segundo {
	grid-column: 1/5;
    min-height: 70px;
	background-color: var(--destacado-r);
    display: flex;
	text-align: center;
    align-items: center;
    justify-content: space-evenly;
}

.registro-alojamiento-registrarse-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-nav-section-registrar {
    background-color: var(--principal-a);
    color: var(--destacado-v);
    border-radius: 10px;
	border: 2px solid var(--destacado-v);
    width: 200px;
    justify-content: center;
    display: flex;
    cursor: pointer    
}


.menu-nav-div-section-gestionar{
    background-color: var(--principal-a);
    color: var(--destacado-v);
	border-radius: 10px;
	border: 2px solid var(--destacado-v);
    display: flex;
    width: 200px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer
}

.menu-nav-div-form-gestionar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#selectorGestionar {
    height: 30px;
}

main {
    grid-column: 1/5;
    display: flex;
    align-items: center;
    justify-content: center;
	background-color: var(--destacado-r);
}    

#formularioRegistro {
	background-color: var(--destacado-r);
    display: grid;
	grid-template-columns: 1fr 1fr;
    min-height: 400px;   
    }


label {
    background-color: var(--destacado-v);
    color: var(--principal-a);
	border-radius: 10px;
	border: 2px solid var(--destacado-v);
    height: 30px;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 2px
}

input {
    background-color: var(--principal-a);
    color: var(--neutro-n);
	border-radius: 10px;
    height: 30px;
	border: 2px solid var(--destacado-v);
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 2px
}


#btnSubmitForm {
    grid-column: 1/2;
    background-color: var(--principal-a);
    color: var(--neutro-n);
	border-radius: 10px;
	border: 2px solid var(--destacado-v);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 30px;
    cursor: pointer;
    margin: 2px;
}

#btnGestionEliminarAlojamiento {
    grid-column: 2/3;
    background-color: var(--principal-r);
    color: var(--neutro-n);
	border-radius: 10px;
	border: 2px solid var(--destacado-v);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 30px;
    cursor: pointer;
    margin: 2px
}

footer {
	grid-column: 1/5;
    height: 15vh;
    min-height: 55px;
}

input:invalid {
    border: 3px solid var(--error-color);
}

input:valid {
    border: 3px solid var(--ok-color);
}


@media screen and (max-device-width: 400px) {

    .menu-nav-div-form-gestionar {
        flex-direction: column;
    }
     
        
    #formularioRegistro {
        display: flex;
        flex-direction: column;
        min-width: 350px;
        box-sizing: unset;
    }
}