
/* FALTA PONER EL :root de colores Paleta completa */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;	
}

body {
	background: #d70981;
	color: #fff;
	font-family: 'Roboto', sans-serif;

}


.ocultar {
    visibility: hidden;
}

.atenuar {
    opacity: 0.2;
}

.quitar {
    display: none !important;
}