<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../statics/css/style.css" type="text/css">
    <link rel="stylesheet" href="../statics/css/alojamientos.css" type="text/css">
    <title>Document</title>
</head>
<body>
    <div class="contenedor">
        <header class="titular-principal">
            TITULO PRINCIPAL  
        </header>
        <nav class="menu-nav">
            <a href="../templates/registro-alojamientos.html   "> Registro Alojamientos</a>
        </nav>
        <section class="map"> MAPA</section>
        <section class="alojamiento-selected"> ALOJAMIENTO SELECCIONADO</section>
        <main>
            <section class="cont-alojamientos">
                <ul class= "alojamiento-lista">
                    <li class="alojamiento-item">ALOJA 11111</li>
                    <li class="alojamiento-item">ALOJA 2</li>
                    <li class="alojamiento-item">ALOJA 3</li>
                    <li class="alojamiento-item">ALOJA 4</li>
                    <li class="alojamiento-item">ALOJA 5</li>
                </ul>
            </section>
        </main>

       
        <footer class="footer">Aca va el Footer</footer>   
    </div>
</body>
</html>