<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- Estilos para funcionamiento mapas leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin="">
    <!-- Js de Mapa Leaflet Asegurarse de ponerlo despues del Leaflet.CSS sino falla -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="../statics/css/style.css" type="text/css">
    <link rel="stylesheet" href="../statics/css/alojamientos.css" type="text/css">
    <title>Alojamientos en "El Durazno", Córdoba Argentina.</title>
</head>
<body>
    <div class="contenedor">
        <div class="top-container">
            <img class="logo-header" src="../statics/img/CORDOBA-logo.png" alt="Logo Municipio de Yacanto, Cordoba (argentina)">
            <header class="titular-principal">
              <h1>PARAJE EL DURAZNO</h1>
               <h2>"Viví Córdoba, viví Argentina"</h2>  
            </header>
        </div>
        <nav class="menu-nav">
          <a href="../index.html">Inicio</a>
          <a href="../templates/atracciones.html">Atracciones</a>
          <a href="../templates/contacto.html">Pedir Información</a>
        </nav>
        
        <nav class="menu-nav-secundario">Posee un establecimiento en la zona?<br>Regístrelo o Gestione su Alojamiento
          <a class="btn-ingreso-registro-alojamientos" href="../templates/registro-alojamientos.html">INGRESA AQUÍ</a>
        </nav>
      
      
        <section class="map-container">
            <h2 class="quitar" >Mapa de la zona del paraje El Durazno, Córdoba, Argentina</h2>
            <div id="map"></div>
            <script src="../statics/js/pre-alojamientos.js"></script>
        </section>
        <section class="alojamiento-selected">
          <h2>SELECCIONE UN ALOJAMIENTO EN EL MAPA O EN LA LISTA</h2>
            <img id="bannerPorDefectoSeleccionado" src="../statics/img/Alojamientos/banner-defecto-seleccionado.jpg" alt="Alojamiento Seleccionado">
        </section>
      
        <main>
            <section class="cont-alojamientos">
                <h2 class="quitar" >Listado de Alojamientos en El Durazno Cordoba, Argentina</h2>
                <ul class= "alojamiento-lista">
                </ul>
            </section>
        </main>
        <footer class="footer">
            <div class="footer-logo">
              <img class="img-footer-logo" src="../statics/img/cba-logo.png" alt="Logo provincia de Córdoba (argentina)">
            </div>
            <div class="footer-contacto">
              <div class="footer-contacto-texto">
                <span> Servicios al Turista: Calle 2 y 5. </span>
                <span> Te.(322) 55-5555 de 8-19 hs. </span>
              </div>
              <div class="footer-contacto-logos">
                <a href="https://www.google.com.ar">
                  <img class="img-footer-wa-icon" src="../statics/img/whatsapp.svg" alt="Whatsapp">
                </a>
                <a href="https://www.google.com.ar">
                  <img class="img-footer-arroba-icon" src="../statics/img/email.svg" alt="mail">
                </a>
                <a href="https://www.google.com.ar">
                  <img class="img-footer-facebook-icon" src="../statics/img/facebook.svg" alt="facebook">
                </a>
                <a href="https://www.google.com.ar">
                  <img class="img-footer-instagram-icon" src="../statics/img/instagram.svg" alt="instagram">
                </a>
              </div>
            </div>
            <nav class="footer-links">
              <a href="../index.html">Inicio</a>
              <a href="../templates/atracciones.html">Atracciones</a>
              <a href="../templates/contacto.html">Pedir Información</a>
            </nav>
          </footer>   
    </div>
    <script src="../statics/js/reutilizables.js"></script>
    <script src="../statics/js/pos-alojamientos.js"></script>
</body>
</html>