<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Estilos para funcionamiento mapas leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
    <!-- Js de Mapa Leaflet Asegurarse de ponerlo despues del Leaflet.CSS sino falla -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
    <link rel="stylesheet" href="../statics/css/style.css" type="text/css">
    <link rel="stylesheet" href="../statics/css/alojamientos.css" type="text/css">
    <title>Document</title>
</head>
<body>
    <div class="contenedor">
        <header class="titular-principal">
            TITULO PRINCIPAL  
        </header>
        <nav class="menu-nav">
            <a href="../templates/registro-alojamientos.html   "> Registro Nuevo Alojamiento</a>
        </nav>
        <section class="map-container">
            <div id="map"></div>
            <script type="text/javascript" src="../statics/js/index-pre-alojamientos.js"></script>
        </section>
        <section class="alojamiento-selected">SELECCIONE UN ALOJAMIENTO EN EL MAPA O LA LISTA
        </section>
        <main>
            <section class="cont-alojamientos">
                <ul class= "alojamiento-lista">
                </ul>
            </section>
        </main>
        <footer class="footer"> BT Volver a pagina principal</footer>   
    </div>
    <!-- <script type="text/javascript" src="../statics/js/crud-alojamientos.js"></script> -->
    <script type="text/javascript" src="../statics/js/index-pos-alojamientos.js"></script>
</body>
</html>