<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../statics/css/style.css" type="text/css">
    <link rel="stylesheet" href="../statics/css/atracciones.css" type="text/css">
    <title>Atracciones en "El Durazno", Córdoba Argentina</title>
</head>
<body>
    <div class="contenedor">
        <div class="top-container">
          <img class="logo-header" src="../statics/img/CORDOBA-logo.png" alt="Logo Municipio de Yacanto, Cordoba (argentina)">
          <header class="titular-principal">
            <h1>PARAJE EL DURAZNO</h1>
             <h2>"Viví Córdoba, viví Argentina"</h2>  
          </header>
        </div>
        <nav class="menu-nav">
            <a href="../index.html">Inicio</a>
            <a href="../templates/alojamientos.html">Alojamientos</a>
            <a href="../templates/contacto.html">Pedir Información</a>
        </nav>
        <main>
          
          <h1>ATRACCIONES DE LA ZONA</h1>
         
          <article>
            <h2>Qué hacer en El Durazno?</h2>
            <div class="contenedor-articulo">
              <img class="fotosAtracciones" id="foto-atracciones-arriba" src="../statics/img/actividades/actividades1.jpg" alt="Foto ACtividades 1">
              <p>Cuando uno busca qué hacer en el paraje "El Durazno", se presentan múltiples opciones para realizar. La clave en este rincón cordobés es el ecoturismo que se disfruta desde distintas experiencias.</p>
              <p>Para los amantes de la naturaleza, las caminatas y paseos en bicicleta son ideales para descubrir cada una de las bondades naturales de este lugar. Una opción es llegar hasta las Tres Cascadas, un sitio donde el río Tabaquillo se presenta en un hermoso salto de agua, o recorrer la zona, lugar perfecto para un trekking de media dificultad.</p>
              <img class="fotosAtracciones" id="foto-atracciones-abajo" src="../statics/img/actividades/actividades2.jpg" alt="Foto ACtividades 2">
              <p>Muchos otros eligen avistar aves y sumarse a los safaris fotográficos en medio de sus bosques. También, uno de los paseos más elegidos para toda la familia son las cabalgatas.</p>
              <p>Por último, la pesca deportiva es otra de las actividades favoritas bajo las técnicas de spinning y fly casting.</p>
            </div>
          </article>


      
        </main>
        <footer class="footer">
          <div class="footer-logo">
            <img class="img-footer-logo" src="../statics/img/cba-logo.png" alt="Logo provincia de Córdoba (argentina)">
          </div>
          <div class="footer-contacto">
            <div class="footer-contacto-texto">
              <span> Servicios al Turista: Calle 2 y 5. </span>
              <span> Te.(322) 55-5555 de 8-19 hs. </span>
            </div>
            <div class="footer-contacto-logos">
              <a href="https://www.google.com.ar">
                <img class="img-footer-wa-icon" src="../statics/img/whatsapp.svg" alt="Whatsapp">
              </a>
              <a href="https://www.google.com.ar">
                <img class="img-footer-arroba-icon" src="../statics/img/email.svg" alt="mail">
              </a>
              <a href="https://www.google.com.ar">
                <img class="img-footer-facebook-icon" src="../statics/img/facebook.svg" alt="facebook">
              </a>
              <a href="https://www.google.com.ar">
                <img class="img-footer-instagram-icon" src="../statics/img/instagram.svg" alt="instagram">
              </a>
            </div>
          </div>
          <nav class="footer-links">
            <a href="../index.html">Inicio</a>
            <a href="../templates/alojamientos.html">Alojamientos</a>
            <a href="../templates/contacto.html">Pedir Información</a>
          </nav>
        </footer>   
      </div>
</body>
</html>