<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../statics/css/style.css" type="text/css">
    <link rel="stylesheet" href="../statics/css/contacto.css" type="text/css">
    <title>Contacto oficina de Turismo - "El Durazno", Córdoba Argentina</title>
</head>
<body>
    <div class="contenedor">
        <div class="top-container">
          <img class="logo-header" src="../statics/img/CORDOBA-logo.png" alt="Logo Municipio de Yacanto, Cordoba (argentina)">
          <header class="titular-principal">
            <h1>PARAJE EL DURAZNO</h1>
             <h2>"Viví Córdoba, viví Argentina"</h2>  
          </header>
        </div>
        <nav class="menu-nav">
            <a id="irInicio" href="../index.html">Inicio</a>
            <a href="../templates/atracciones.html">Atracciones</a>
            <a href="../templates/alojamientos.html">Alojamientos</a>
        </nav>
        <main>
            <form id="formularioPreferencias">
                <div class="preferenciaEnvio">
                    <label class="form-label">Como quiere le enviemos la información?: </label>
                    <input type="radio" id="envioPorWa" name="envioPor" value="porWhatsapp" checked>Por Whatasapp.
                    <input type="radio" id="envioPorEm" name="envioPor" value="porEmail" >Por Email.
                </div>
                <div class="preferenciaInfo">
                    <label class="form-label">Seleccione sus preferencias de Información: </label>
                    <input type="checkbox" id="infoGastronomia" name="infoGastronomia" value="infoGastronomia"> Gastronomia.
                    <input type="checkbox" id="infoAtracciones" name="infoAtracciones" value="infoAtracciones"> Atracciones Turisticas.
                    <input type="checkbox" id="infoAlojamientos" name="infoAlojamientos" value="infoAlojamientos"> Alojamientos.
                </div>
            </form>
            <form id="formularioContacto">
                <label for="nombre">Nombre del solicitante:</label>
                <input type="text" id="nombre" name="nombre"  maxlength="30">
                <label for="telefono">Número whatsapp:</label>
                <input type="number" id="telefono" name="telefono">
                <label for="correo">Correo electrónico de contacto:</label>
                <input type="email" id="correo" name="correo" placeholder="email válido">
                <label for="fecha">fecha de inicio de su viaje:</label>
                <input type="date" id="fecha" name="fecha">
                <button id="btnSubmitContacto" type="submit">Pedir Información</button>
            </form>
        </main>

        <footer class="footer">
          <div class="footer-logo">
            <img class="img-footer-logo" src="../statics/img/cba-logo.png" alt="Logo provincia de Córdoba (argentina)">
          </div>
          <div class="footer-contacto">
            <div class="footer-contacto-texto">
              <span> Servicios al Turista: Calle 2 y 5. </span>
              <span> Te.(322) 55-5555 de 8-19 hs. </span>
            </div>
            <div class="footer-contacto-logos">
              <a href="https://www.google.com.ar">
                <img class="img-footer-wa-icon" src="../statics/img/whatsapp.svg" alt="Whatsapp">
              </a>
              <a href="https://www.google.com.ar">
                <img class="img-footer-arroba-icon" src="../statics/img/email.svg" alt="mail">
              </a>
              <a href="https://www.google.com.ar">
                <img class="img-footer-facebook-icon" src="../statics/img/facebook.svg" alt="facebook">
              </a>
              <a href="https://www.google.com.ar">
                <img class="img-footer-instagram-icon" src="../statics/img/instagram.svg" alt="instagram">
              </a>
            </div>
          </div>
          <nav class="footer-links">
            <a href="../index.html">Inicio</a>
            <a href="../templates/atracciones.html">Atracciones</a>
            <a href="../templates/alojamientos.html">Alojamientos</a>
          </nav>
        </footer>   
      </div>
      <script src="../statics/js/reutilizables.js"></script>
    <script src="../statics/js/contacto.js"></script>
</body>
</html>