<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Formulario de Registro de Alojamiento</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
  integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
  crossorigin="">
  <!-- Js de Mapa Leaflet Asegurarse de ponerlo despues del Leaflet.CSS sino falla -->
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
   integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
   crossorigin=""></script>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../statics/css/style.css" type="text/css">
  <link rel="stylesheet" href="../statics/css/registro-alojamientos.css" type="text/css">
  <title>Gestión y registro de alojamientos en "El Durazno", Córdoba Argentina.</title>
</head>
<body>
    <div class="contenedor">     
        <div class="top-container">
            <img class="logo-header" src="../statics/img/CORDOBA-logo.png" alt="Logo Municipio de Yacanto, Cordoba (argentina)">
            <header class="titular-principal">
                <h1>PARAJE EL DURAZNO</h1>
                <h2>"Solo titulares de alojamientos habilitados"</h2>  
            </header>
        </div>
        <nav class="menu-nav">
          <a href="../index.html">Inicio</a>
          <a id= "navIrAlojamientos" href="../templates/alojamientos.html">Alojamientos</a>
        </nav>
        <nav class="menu-nav-segundo">
            <div id="btnNavRegistrar" class="menu-nav-section-registrar">REGISTRAR NUEVO
            </div>
            <div class="contenedor-imagen" id="contenedorImagen">
              <div class="imagen-gestionar">
                <img src="../statics/img/registro-alojamiento/foto-pre-registro.jpeg" alt="" id="imagenGestionar">
              </div>
              <div id="btnEditarImagenGestionar" class="btn-imagen-gestionar">Cambiar</div>
            </div>
            <div class="registro-alojamiento-gestionar">
                <div  id="btnNavGestionar" class="menu-nav-div-section-gestionar">GESTIONAR
                </div>    
                <form id="formularioSeleccion" class="menu-nav-div-form-gestionar">
                    <label  id="labelSelectorGestionar" class="menu-nav-div-form-gestionar-label" for="selectorGestionar">Selecione su alojamiento
                    </label>
                    <select id="selectorGestionar">
                    </select>
                </form>
            </div>
        </nav>

        <main>
            <form id="formularioRegistro" autocomplete="off"> 
                                            <!-- saco method=POST enctype=multipart/form-data -->
                <input type="number" id="id" name="id" class="quitar">

                <label for="imagenInput" id="imagenLabel">Imagen del alojamiento:</label>
                <input  id="imagenInput" type="file" accept="image/png, image/jpeg, image/webp" name="imagen">
                
                <label for="imagenRuta"  class="quitar">Url del alojamiento:</label>
                <input  id="imagenRuta" type="url" name="imagenRuta" class="quitar">
                
                <label for="cuit">CUIT del propietario:</label>
                <input type="text" id="cuit" name="cuit" required pattern="\d{11}" placeholder="11 dígitos sin guiones">

                <label for="nombre">Nombre del alojamiento:</label>
                 <!-- Tanto acá como en direccion no se si se pasa a BBDD soporta caracteres especiales..VER. -->
                <input type="text" id="nombre" name="nombre" required minlength="3" maxlength="30" placeholder="3-30 caract.">

                <label for="web">Sitio web del alojamiento:</label>
                <input type="url" id="web" name="web" placeholder="URL Válida ej. https//...">

                <label for="telefono">Número telefónico de contacto:</label>
                <input type="text" id="telefono" name="telefono" required placeholder="Sin +pais,9, 0 o 15" pattern="[1-3]\d{9}">

                <label for="correo">Correo electrónico de contacto:</label>
                <input type="email" id="correo" name="correo" required placeholder="email válido">

                <label for="direccion">Dirección del alojamiento:</label>
                <input type="text" id="direccion" name="direccion" required minlength="3" maxlength="30" placeholder="3-30 caract.">

                <div class="contenedor-coordenadas">
                  <p class:"nav-coordenadas">
                    Ingresar coordenadas mediante un <span>click en el mapa</span>
                  </p>
                  <div id="map"></div>
                  <script src="../statics/js/pre-alojamientos.js"></script>
                </div>  
                  <label for="latitud">Latitud:</label>
                  <input type="text" id="latitud" name="latitud" required readonly>

                  <label for="longitud">Longitud:</label>
                  <input type="text" id="longitud" name="longitud" required readonly>
                
                <button id="btnSubmitForm" type="button">Registrar Alojamiento</button>
                <button id="btnGestionEliminarAlojamiento" type="button">Eliminar Alojamiento</button>
            </form>
        </main>
        <footer class="footer">
            <div class="footer-logo">
              <img class="img-footer-logo" src="../statics/img/cba-logo.png" alt="Logo provincia de Córdoba (argentina)">
            </div>
            <div class="footer-contacto">
              <div class="footer-contacto-texto">
                <span> Servicios al Turista: Calle 2 y 5. </span>
                <span> Te.(322) 55-5555 de 8-19 hs. </span>
              </div>
              <div class="footer-contacto-logos">
                <a href="https://www.google.com.ar">
                  <img class="img-footer-wa-icon" src="../statics/img/whatsapp.svg" alt="Whatsapp">
                </a>
                <a href="https://www.google.com.ar">
                  <img class="img-footer-arroba-icon" src="../statics/img/email.svg" alt="mail">
                </a>
                <a href="https://www.google.com.ar">
                  <img class="img-footer-facebook-icon" src="../statics/img/facebook.svg" alt="facebook">
                </a>
                <a href="https://www.google.com.ar">
                  <img class="img-footer-instagram-icon" src="../statics/img/instagram.svg" alt="instagram">
                </a>
              </div>
            </div>
            <nav class="footer-links">
                <a href="../index.html">Inicio</a>
                <a href="../templates/alojamientos.html">Alojamientos</a>
            </nav>
          </footer>   
    </div>
    <script src="../statics/js/reutilizables.js"></script>
    <script src="../statics/js/conecta-backend.js"></script>
    <script src="../statics/js/registro-alojamientos.js"></script>
</body>
</html>
